html{
    scroll-behavior: smooth;
}
    
h1{
    font-size:130px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
p{
    font-size:15px;
}
.Allura{
    font-family: 'Allura', cursive;
}
.Roboto{
    font-family: 'Roboto', sans-serif;
}
.index1_center{
    color:white;
    width:100%;
    height:100%;
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */
    text-align:center;
}
.index1{
    height:100vh;
    background-color: black;
    background-image:url(../images/filtre/14_filtre.png);
    background-repeat:no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    background-position: center center;
}
.footerpage1{
    flex-direction: column;
    color:white;
    position:absolute;
    left:50%;
    right:50%;
    top:85%;

}
.flecheverslebasindex1{
    height: 25px;
    width: 45px;
    animation-name: mouvfleche;
    animation-duration: 3s;
    animation-iteration-count:infinite ;
}

@keyframes mouvfleche {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(25px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.flechedownlabel{
    font-size:30px;
    margin-left:-45px;
    margin-bottom: 10px;
}
.flextaillepage2{
    margin:20px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aUnstyle{
    text-decoration: none;
    color:white;
}
.page2flex{
    display:flex;
    width:100%;
}
.limitationimgpage2{
    width:100%;
    height:100%;
    object-fit: cover;
}
.boutongalerie{
    background-color: white;
    color:black;
    border: solid 4px black;
    padding:20px;
    font-size:30px;
    float:right;
}
.barregalerie{
    background-color:black;
    width:40px;
    height:2px;
}
.petittxtgalerie{
    font-size:25px;
    margin-left:15px;
}
.petittxtgalerie2{
    font-size:25px;
    margin-right:15px;
}
.txtgalerie{
    font-size:70px;
    text-align: right;
}
.flexgalerie{
    display: flex; /* contexte sur le parent */
}
.decalementgachepage2{
    margin-right:100px;
}
.centrerflexpage2{
    display:flex;
    justify-content: center;
}
.flexflexgalerie{
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */
    text-align:center;
}
.droitepage2{
    text-align:right;
}
.droitefloatpage2{
    float:right;
}
.espacementpage2Desc{
    margin-right:150px;
}

.index3{
    height:100vh;
    display: flex;
    justify-content: center;
}
.tarificationp3{
    height:95vh;
    width: 95vw;
    background-color: black;
    background-image:url(../images/8.jpg);
    background-repeat:no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    background-position: center center;
}
.tarificationtitrep3{
    margin-left:100px;
    background-color: white;
    font-size:70px;
}

.index4{
    height:100vh;
    display: flex;
    justify-content: center;
}
.Nous-Ecrire{
    height:95vh;
    width: 95vw;
    background-color: black;
    background-image:url(../images/filtre/14_filtre.png);
    background-repeat:no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    background-position: center center;
}

.Nous-Ecriretitre{
    margin-left:100px;
    background-color: white;
    font-size:70px;
}
.centernousecrire{
    text-align: center;
    color:white;
}
.inputnsecrire{
    width:395px;
    height: 51px;
}
input::placeholder {
    color: black;
    font-size:25px;
    padding-left:23px;
  }

.flexindex4{
    display:flex;
    justify-content: space-between;
    margin:10px;
}
.centerformulaire{
    display: flex;
    justify-content: center;

}
textarea{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    max-height: 500px;
}









@media only screen and (min-width: 950px) and (max-width: 1200px) {
    .txtgalerie{
        font-size:50px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 950px) {
    h1{
        font-size:60px;
    }
    .flechedownlabel {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .aUnstyle{
        margin-left:15px;
    }
    .flecheverslebasindex1{
        height: 18px;
        width:30px;
    }
    .flextaillepage2{
        width:100%;
        margin: 0px;
        margin-top:30px;
        margin-bottom:30px;
    }
    .txtgalerie{
        font-size:50px;
    }
    .page2flex{
        display: inline-block;
    }
    .boutongalerie{
        margin-top:10px;
        font-size:15px;
        padding:15px;
    }
    .petittxtgalerie{
        margin-bottom: 10px;
    }
    .petittxtgalerie2{
        margin-bottom: 10px;
    }
}
@media only screen and (min-width: 0px) and (max-width: 850px) {
    .txtgalerie{
        font-size: 30px;
    }
    .petittxtgalerie{
        font-size: 15px;
    }
    .petittxtgalerie2{
        font-size: 15px;
    }
    .boutongalerie{
        margin-top:10px;
        font-size:10px;
        padding:10px;
    }
}