html{
    scroll-behavior: smooth;
}
    
h1{
    font-size:130px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.Allura{
    font-family: 'Allura', cursive;
}
.index1_center{
    color:white;
    width:100%;
    height:100%;
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */
    text-align:center;
}
.index1{
    height:100vh;
    background-color: black;
    background-image:url(../images/filtre/14_filtre.png);
    background-repeat:no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    background-position: center center;
}
.footerpage1{
    flex-direction: column;
    color:white;
    position:absolute;
    left:50%;
    right:50%;
    top:85%;

}
.flecheverslebasindex1{
    height: 25px;
    width: 45px;
    animation-name: mouvfleche;
    animation-duration: 3s;
    animation-iteration-count:infinite ;
}

@keyframes mouvfleche {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(25px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.flechedownlabel{
    font-size:30px;
    margin-left:-45px;
    margin-bottom: 10px;
}
.flextaillepage2{
    margin:20px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aUnstyle{
    text-decoration: none;
    color:white;
}
.page2flex{
    display:flex;
    width:100%;
}
.limitationimgpage2{
    width:100%;
    height:100%;
    object-fit: cover;
}
.boutongalerie{
    background-color: white;
    color:black;
    border: solid 4px black;
    padding:20px;
    font-size:30px;
    float:right;
}
.barregalerie{
    background-color:black;
    width:40px;
    height:2px;
}
.petittxtgalerie{
    font-size:25px;
    margin-left:15px;
}
.petittxtgalerie2{
    font-size:25px;
    margin-right:15px;
}
.txtgalerie{
    font-size:70px;
    text-align: right;
}
.flexgalerie{
    display: flex; /* contexte sur le parent */
}
.decalementgachepage2{
    margin-right:100px;
}
.centrerflexpage2{
    display:flex;
    justify-content: center;
}
.flexflexgalerie{
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */
    text-align:center;
}
.droitepage2{
    text-align:right;
}
.droitefloatpage2{
    float:right;
}
.espacementpage2Desc{
    margin-right:150px;
}

.index3{
    height:100vh;
    display: flex;
    justify-content: center;
}
.tarificationp3{
    height:95vh;
    width: 95vw;
    background-color: black;
    background-image:url(../images/8.jpg);
    background-repeat:no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    background-position: center center;
}
.tarificationtitrep3{
    margin-left:100px;
    background-color: white;
    font-size:70px;
}

.index4{
    height:100vh;
    display: flex;
    justify-content: center;
}
.Nous-Ecrire{
    height:95vh;
    width: 95vw;
    background-color: black;
    background-image:url(../images/filtre/14_filtre.png);
    background-repeat:no-repeat;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    background-position: center center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nsEcrire{
    display: flex;
    justify-content: center;
}


input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 2px solid black;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: 2px solid black;
    cursor: pointer;
    width:150px;
  }
  
  input[type=submit]:hover {
    background-color: black;
    color:white;
  }
  
  .container {
    /* Ajouter box-sizing */
    width: 70%;
    max-width: 1000px;
  }
  input{
      font-size: 20px;
  }
  textarea{
      font-size: 20px;
      width: 100%;
      min-height: 200px;
      max-height: 300px;
  
  }

  ::placeholder {
    color: black;
    font-size: 20px;
  }
  .flexcontainer{
      display:flex;
  }
  .espacementflex{
      margin-left:25px;
  }
  .centerbouton{
    display: flex;
    justify-content: center;
  }
  .centercontainerecrire{
      text-align: center;
  }
  .couleurblanche{
      color:white;
  }
  .modificationp{
      margin-block-start: -1em;
  }


@media only screen and (min-width: 950px) and (max-width: 1200px) {
    .txtgalerie{
        font-size:50px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 950px) {
    h1{
        font-size:60px;
    }
    .tarificationtitrep3{
        font-size:50px;
    }
    input[type=submit] {
        width:100%;
    }

    .flechedownlabel {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .aUnstyle{
        margin-left:15px;
    }
    .flecheverslebasindex1{
        height: 18px;
        width:30px;
    }
    .flextaillepage2{
        width:100%;
        margin: 0px;
        margin-top:30px;
        margin-bottom:30px;
    }
    .txtgalerie{
        font-size:50px;
    }
    .page2flex{
        display: inline-block;
    }
    .boutongalerie{
        margin-top:10px;
        font-size:15px;
        padding:15px;
    }
    .petittxtgalerie{
        margin-bottom: 10px;
    }
    .petittxtgalerie2{
        margin-bottom: 10px;
    }
    .flexcontainer{
        display : inline-block;
        vertical-align : middle;
        line-height : 1.1;
        width:100%;
    }
    .espacementflex{
        margin-left:0px;
    }
    .txtgalerie{
        font-size: 30px;
    }
    .petittxtgalerie{
        font-size: 15px;
    }
    .petittxtgalerie2{
        font-size: 15px;
    }
    .boutongalerie{
        margin-top:10px;
        font-size:10px;
        padding:10px;
    }
}