html, body{
    padding:0;
    margin:0;
    color:white;
}
*{
  box-sizing: border-box;
}
  
.nav {
  height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  font-size: 18px;
}

#nav-droit{
    font-size: 18px;
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #0090FF;
    font-weight:bold;
    float:right;
}
.nav-droit-center{
  width:196px;
}

.nav > #nav-droit:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
  
.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.hidden{
  display: none;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

.second-page{
  height: 100vh;
}

.reserver{
  display: none !important;
}

@media (max-width:875px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 20;
  }
  .nav-links{
    display: none;
  }

  #nav-droit{
    display: none;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .reserver{
    display: block !important;
  }

  

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .nav > #nav-check:checked ~ .nav-links {
    margin-top:50px;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    display: unset;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .accueil{
    margin-top: 30px;
  }

  .menu-link{
    margin-left: 5vw;
  }

  .location{
    display: none;
  }
}

.page1{
    background-image:url(img/index_page1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    max-width: 100vw;
}

.page2{
  background-image:url(img/index_page2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
}

.page3{
  background-image:url(img/index_page3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 100vw;
} 

.page4{
  background-image:url(img/index_page4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
} 

.page5{
  background-image:url(img/index_page5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  max-width: 100vw;
  justify-content: center;
  align-items: center;
} 
.black_page3{
  background-color: rgba(0, 0, 0, 0.6);
  width: 400px;
}

.delimitation-blackP3{
  margin:30px;
}

#bouton-page3{
  margin-left:50px;
  margin-right:50px;
  display: block;
  text-align: center;
  padding: 10px;
  background-color:green;
  color: white;
  border:0;
  border-radius:50px;
  text-decoration:none;
}

.gris_page5{
  background-color: rgba(0, 0, 0, 0.7);
  width:70%;
  position:absolute;
  z-index: 1;
  display:flex;
}

iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
#retrecissement_page5{
  width:25px;
  height: 35px;
  margin-right:20px;
  float:left;
}
#retrecissement_page52{
  width:30px;
  height: 20px;
  margin-right:20px;
  margin-top:2px;
  float:left;
}
#retrecissement_page53{
  width:30px;
  height: 30px;
  margin-right:20px;
  float:left;
}
.contact_color{
  color: #007AD8;
}
.gauche_page5{
  width:50%;
  margin-left:20px;
  margin-right:20px;
  margin-bottom: 20px;
}
.droit_page5{
  width:50%;
}
.separation_page5{
  display: flex;
  align-items: center;
  justify-content: center;
}
hr{
  height:80%;
  border:1px solid #0090FF;
}
.box{
  display:flex;
  flex-direction: column;
  margin-left:5%;
}
.box2{
  display:flex;
  flex-direction: row;
}
#sous_titre_page5{
  margin:20px;
  margin-top:-20px;
}
h1{
  font-size:40px;
}
p{
  font-size:20px;
}
.localisation{
  width:25px;
  height:35px;
  margin-top:35%;
}
.mail{
  width:40px;
  height:40px;
  margin-top:35%;
}
.telephone{
  width:40px;
  height:40px;
  margin-top:35%;
}
.alignement-text-svg{
  margin-left:10px;
  text-align: center;
  display: table-cell; /* comportement visuel de cellule */
  vertical-align: center;
}
.formulaire-alignement{
  display:flex;
}
.submitpage5{
  background-color: #0090FF;
  color:white;
  border:0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:10px;
  border-radius: 2px;
  margin-top:30px;
  font-size:20px;
}
.formulaire{
  margin:40px;
}
.delimation-input{
  width:50%;
  margin-top:10px;
  margin-bottom: 10px;
}
.input{
  width : 95%;
  padding:10px;
  border-radius:5px;
  border:0px;
  text-align:center;
}
.droit-contact{
  float:right;
}
.message{
  width: 100%;
  height: 150px;
  border-radius:5px;
  border:0px;
  resize: vertical;
  padding:10px;
}
sup{
  color : #007AD8;
}
.delimation-textarea{
  width: 100%;
}
.googlemap{
  border:0px;
  width:350px;
  height:200px;
}

.droit_page5{
  width:56%;
}

@media screen and (max-width: 1350px) and (min-width: 1135px) {
  .formulaire-alignement{
    flex-direction: column;
  }
  .input{
    width : 200%;
    padding:10px;
    border-radius:5px;
    border:0px;
    text-align:center;
  }
  .droit-contact{
    float:left;
  }

}

@media screen and (max-width: 1135px) and (min-width: 700px) {

  .input{
    width : 95%;
    padding:10px;
    border-radius:5px;
    border:0px;
    text-align:center;
  }
  .droit-contact{
    float:right;
  }

  .gris_page5{
    background-color: rgba(0, 0, 0, 0.7);
    width:70%;
    position:absolute;
    z-index: 1;
    flex-direction: column;
  }

  hr{
    width:80%;
    border:1px solid #0090FF;
  }
  
  .googlemap{
    border:0px;
    width:300px;
    height:150px;
  }
  .formulaire-alignement{
    display:flex;
    width:200%;
  }

  .delimation-textarea{
    width: 200%;
  }
  
}

@media screen and (max-width: 700px) {

  .input{
    width : 200%;
    padding:10px;
    border-radius:5px;
    border:0px;
    text-align:center;
  }

  .droit-contact{
    float:left;
  }

  .gris_page5{
    background-color: rgba(0, 0, 0, 0.7);
    width:70%;
    position:absolute;
    z-index: 1;
    flex-direction: column;
  }

  hr{
    width:80%;
    border:1px solid #0090FF;
  }
  
  .googlemap{
    border:0px;
    width:300px;
    height:150px;
  }
  .formulaire-alignement{
    flex-direction: column;
  }

  .delimation-textarea{
    width: 200%;
  }

  .delimation-input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
  
}