html,body{
    margin:0;
    padding:0;
}
footer{
    background-color: black;
    color:white;
}
.footerdelimitation{
    padding:30px;
    display: flex;

}
.footerflex{
    width:100%;
}
.footerflexflex{
    display:flex;
}
.boutonfooter{
    background-color: black;
    color:white;
    padding:5px;
}
.footernewsletter{
    background-color:black;
    border: none;
    border-bottom: 1px solid white;
}