html, body{
    padding:0;
    margin:0;
}
    
nav{
    background-color:white;
    color:black;
    display: flex;
    width:100%;
    border-bottom-style: solid;
    border-width:3px;
}
.nav_gauche{
    white-space:nowrap;
    width:50%;
    font-family: 'Allura', cursive;
    font-size:23px;
    margin:12px;
    margin-left:50px;
}
.nav_droit{
    display: flex;
    justify-content: flex-end;
    white-space:nowrap;
    width:50%;
    font-family: 'Roboto', sans-serif;
    margin-right:50px;
}

.nav_droit_div{
    margin-left:20px;
    position: relative;
    margin-right:20px;
    margin:15px;
    margin-right:35px;
}
a{
    text-decoration: none;
    color:black;
}

.nav_droit_div:after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .3s;
}
.nav_droit_div:hover:after {
    width: 30px;
    transition: .3s;
} 
.nav_droit_div_mobile{
    display: none;
    margin-left:20px;
    margin-right:20px;
    margin:15px;
    margin-right:35px;
}

.menu-mobile{
   display: none;  
}

@media screen and (max-width: 980px) {
    .nav_droit_div_mobile{
        display: block;
        margin-right:35px;
    }
    .nav_droit_div{
        display:none
    }
    #nav-dimensions{
        width:30px;
        height:22px;
    }
    .nav_droit{
        display: flex;
        justify-content: flex-end;
        white-space:nowrap;
        width:50%;
        font-family: 'Roboto', sans-serif;
        margin-right:0px;
    }

    .icon{
        position: fixed;
        height: 50px;
        width: 50px;
        right: 50px;
    }

    .hamburger{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 4px;
        width: 100%;
        background-color: rgba(0,0,0,1);
        transition: .5s;
    }

    .hamburger:after{
        content: '';
        position: absolute;
        height: 4px;
        width: 100%;
        top: -10px;
        background-color: rgba(0,0,0,1);
        transition: .5s;
    }

    .hamburger:before{
        content: '';
        position: absolute;
        height: 4px;
        width: 100%;
        top: 10px;
        background-color: rgba(0,0,0,1);
        transition: .5s;
    }

    .menu-mobile{
        display: unset;
        height: 0;
        top: 10vh;
        width: 100vw;
        position: fixed;
        background-color: red;
        transition: .5s;  
    }

    .menu-mobile.active{
        height: 90vh;    
        transition: .5s;    
    }

    .icon.active .hamburger{
        background-color: rgba(0,0,0,0);
        transition: .1s;
    }

    .icon.active .hamburger:before{
        top: 0;
        transform: rotate(135deg);
        transition: .5s;
    }

    .icon.active .hamburger:after{
        top: 0;
        transform: rotate(-135deg);
        transition: .5s;
    }
}