html, body{
    padding:0;
    margin:0;
}
    
nav{
    background-color:white;
    color:black;
    display: flex;
    width:100%;
    border-bottom-style: solid;
    border-width:3px;
}
.nav_gauche{
    white-space:nowrap;
    width:50%;
    font-family: 'Allura', cursive;
    font-size:23px;
    margin:12px;
    margin-left:50px;
}
.nav_droit{
    display: flex;
    justify-content: flex-end;
    white-space:nowrap;
    width:50%;
    font-family: 'Roboto', sans-serif;
    margin-right:50px;
}

.nav_droit_div{
    margin-left:20px;
    margin-right:20px;
    margin:15px;
    margin-right:35px;
}
a{
    text-decoration: none;
    color:black;
}
a:hover {
    border-bottom-style: solid;
    border-width:2px;
    width:40px;
} 
.nav_droit_div_mobile{
    display: none;
    margin-left:20px;
    margin-right:20px;
    margin:15px;
    margin-right:35px;
}

@media screen and (max-width: 980px) {
    .nav_droit_div_mobile{
        display: block;
        margin-right:35px;
    }
    .nav_droit_div{
        display:none
    }
    #nav-dimensions{
        width:30px;
        height:22px;
    }
    .nav_droit{
        display: flex;
        justify-content: flex-end;
        white-space:nowrap;
        width:50%;
        font-family: 'Roboto', sans-serif;
        margin-right:0px;
    }
}